@import url("https://fonts.googleapis.com/css?family=Public+Sans&display=swap");
/* Global Styles */
body {
  width: 100%;
  height: 100%;
  background-color: #eee;
  font-family: 'Public Sans', sans-serif; }

#main {
  display: grid;
  grid-template-rows: 100% 100% 100% 100%;
  grid-template-columns: 100%;
  grid-template-areas: "header" "section" "main" "footer";
  justify-items: center; }

.container {
  width: 90% !important; }

.header {
  grid-area: header; }

.section {
  grid-area: section;
  width: 90%;
  background-color: white; }

.main {
  grid-area: main; }

figure {
  margin: 3.5% 3.5% 3.5% 3.5%; }

#img-div {
  display: grid;
  grid-template-rows: 100% 100%;
  grid-template-columns: 100%;
  grid-template-areas: "image" "img-caption";
  justify-items: center;
  align-items: center; }

#image {
  grid-area: image;
  max-width: 100%; }

#img-caption {
  grid-area: img-caption; }

/* Typography */
#title, h2, h3, #img-caption {
  text-align: center; }

h2 {
  font-weight: lighter; }

blockquote {
  font-style: italic; }

/* ---------- */
/* Mobile */
@media only screen and (max-width: 767px) {
  #title {
    font-size: 3rem;
    font-weight: bold;
    margin: 10% 0% 0% 0%; }
  h2 {
    font-size: 1.5rem;
    margin: 10% 0% 10% 0%; }
  h3 {
    font-size: 1.25rem;
    margin: 10% 0% 10% 0%; }
  #img-caption {
    font-size: 1rem; }
  blockquote {
    margin: 10% 0% 10% 0%; }
  #image {
    margin-bottom: 5%; } }

/* ---------- */
/* Tablet and Small Desktop */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #title {
    font-size: 3rem;
    font-weight: bold;
    margin: 5% 0% 0% 0%; }
  h2 {
    font-size: 1.5rem;
    margin: 5% 0% 5% 0%; }
  h3 {
    font-size: 1.25rem;
    margin: 5% 0% 5% 0%; }
  #img-caption {
    font-size: 1rem; }
  #image {
    margin-bottom: 2.5%; } }

/* Medium Desktop */
@media only screen and (min-width: 1024px) and (max-width: 1215px) {
  #title {
    font-size: 3rem;
    font-weight: bold;
    margin: 2.5% 0% 0% 0%; }
  h2 {
    font-size: 1.5rem;
    margin: 2.5% 0% 2.5% 0%; }
  h3 {
    font-size: 1.25rem;
    margin: 2.5% 0% 2.5% 0%; }
  #img-caption {
    font-size: 1rem; }
  #image {
    margin-bottom: 5%; } }

/* ---------- */
/* Widesreen Desktop */
@media only screen and (min-width: 1216px) and (max-width: 1407px) {
  #title {
    font-size: 3rem;
    font-weight: bold;
    margin: 2.5% 0% 0% 0%; }
  h2 {
    font-size: 1.5rem;
    margin: 2.5% 0% 2.5% 0%; }
  h3 {
    font-size: 1.25rem;
    margin: 2.5% 0% 2.5% 0%; }
  #img-caption {
    font-size: 1rem; }
  #image {
    margin-bottom: 2.5%; } }

/* ---------- */
/* Full HD Desktop */
@media only screen and (min-width: 1216px) {
  #title {
    font-size: 3rem;
    font-weight: bold;
    margin: 2.5% 0% 0% 0%; }
  h2 {
    font-size: 1.5rem;
    margin: 2.5% 0% 2.5% 0%; }
  h3 {
    font-size: 1.25rem;
    margin: 2.5% 0% 2.5% 0%; }
  #img-caption {
    font-size: 1rem; }
  #image {
    margin-bottom: 2.5%; } }

/* ---------- */
